
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <div class="form_style">
    <div class="login_title"><span >Login</span></div>
  <form name="form" #f="ngForm">
    
    <label for="email">Email :</label>
    <input type="text" name="email" id="email" [(ngModel)]="logindata.email" #email="ngModel" required><br>
    <div style="color:red" *ngIf="email.errors?.['required']&&(email.dirty||email.touched)">Email is Required</div>
    <div style="color:red" *ngIf="email.errors?.['email']&&(email.dirty||email.touched)">Email is Invalid</div>
    
    <label for="password">Password :</label>
    <input type="password" name="password" id="password" [(ngModel)]="logindata.password" #password="ngModel" required minlength="6" maxlength="15"><br>
    <div style="color:red" *ngIf="password.errors?.['required']&&(password.dirty||password.touched)">Password is Required</div>
    <div style="color:red" *ngIf="password.errors?.['minlength']||password.errors?.['maxlength']&&(password.dirty||password.touched)">Password should be atleast 6 and the max 15 characters long.</div>

    <input type="submit" (click)="onSubmit()" value="Submit">
  
  </form>
  </div>