<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<nav style="background-color:black;">
    <h1 (click)="callLogin()">MyGate</h1>
    <div class="userpanel">
        <a (click)="callLogin()">Admin</a>&nbsp;&nbsp;&nbsp;
        <a (click)="callLogin()">Owner</a>&nbsp;&nbsp;&nbsp;
        <a (click)="callLogin()">Tenant</a>&nbsp;&nbsp;&nbsp;
        <a (click)="callLogin()">Guest</a>&nbsp;&nbsp;&nbsp;
        <a (click)="callLogin()">Security</a>
    </div>  
</nav>
  <router-outlet></router-outlet>